<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="boundip" value="0.0.0.0" />
        <add key="boundport" value="4949" />
    </appSettings>
</configuration>