<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Munin_Node_For_Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Munin_Node_For_Windows.Properties.Settings>
            <setting name="bound_ip" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="bound_port" serializeAs="String">
                <value>4949</value>
            </setting>
        </Munin_Node_For_Windows.Properties.Settings>
    </applicationSettings>
</configuration>